//colors

$red: hsl(0, 78%, 62%);
$cyan: hsl(180, 62%, 55%);
$orange: hsl(34, 97%, 64%);
$blue: hsl(212, 86%, 64%);

$darkGray: hsl(234, 12%, 34%);
$lightGray: hsl(212, 6%, 44%);
$white: hsl(0, 0%, 100%);

//font weights
$light: 200;
$regular: 400;
$bold: 600;